@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.hover-gradient {
  background-image: radial-gradient(
    51.41% 105.14% at 50.04% 105.14%,
    #0a308b 0%,
    #1e6efb 100%
  );
}

.bg-radial-gradient {
  background: radial-gradient(
    51.41% 105.14% at 50.04% 105.14%,
    #0a308b 0%,
    #1e6efb 100%
  );
}

.hover\:bg-radial-gradient:hover {
  background: radial-gradient(
    51.41% 105.14% at 50.04% 105.14%,
    #0a308b 0%,
    #1e6efb 100%
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
